@import "tailwindcss";


body {
  font-size: 14px;
  line-height: 1.5;
}

/* 标题样式 */
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }

/* 按钮文字大小 */
button {
  font-size: 14px;
}
/* 输入框文字大小 */
input, textarea, select {
  font-size: 14px;
}

@font-face {
  font-family: 'AlimamaFangYuanTi';
  src: url('./assets/fonts/AlimamaFangYuanTiVF-Thin-2.ttf') format('truetype');
}